/* Tema Claro */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #6a0dad;
  --color-accent: #32cd32;
}

/* Tema Oscuro */
body.dark {
  --color-bg: #121212;
  --color-text: #f0f0f0;
  --color-primary: #b19cd9;
  --color-accent: #90ee90;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
.floating-button {
  position: fixed;
  top: 5px;  /* Ajusta la distancia desde el borde superior */
  right: 20px;  /* Ajusta la distancia desde el borde derecho */
  z-index: 1000;  /* Asegura que el botón quede encima de otros elementos */
  border: none;
  background: transparent;
  cursor: pointer;
}
.floating-pato {
  position: fixed;
  bottom: 5px;  /* Ajusta la distancia desde el borde superior */
  right: 20px;  /* Ajusta la distancia desde el borde derecho */
  z-index: 1000;  /* Asegura que el botón quede encima de otros elementos */
  border: none;
  background: transparent;
  cursor: pointer;
}


.button-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-primary:hover {
  background-color: var(--color-accent);
}
